#messages,#channelList,#inbox {
	overflow: auto ;
}
#channelList li:hover,#inbox li:hover,kbd:hover, .text-danger:hover {
	cursor: pointer;
}
li{
	list-style-type: none;
}
.main{
	width:100%;
	position: absolute;
}
#msg_area{
	width:100%;
	min-height:30rem;
}
#msg_block{
	width:100%;
	/*max-height:calc(100vh - 13rem);*/
	/*height:calc(100vh - 13rem);*/
	height:calc(80vh);
	overflow-y:scroll;
}
.container,.lg{
	max-width:90%;
	min-height:30rem;
}

.card {
	padding: 10px 0 10px 0;
	width:100%;
}

.input-group {
	position: absolute;
	height: 7%;
	bottom: 0;
	left:0;
}

.btn {
	height:100%;
}

.modal-dialog{
	min-width:calc(30vh);
}
.list-group-item{
	padding:0.25rem !important;
}