{% extends "layout.html" %}
{% block head %}

	<style>
		#login_form form input {
			max-width: 25rem;
		}

		.remember input {
			width: 20px;
			height: 20px;
			margin-left: 15px;
			margin-right: 5px;
		}
	</style>
{% endblock %}
{% block title %}
	Web50-Books
{% endblock %}



{% block body %}
	<main role="main" class="container">
		<div class="">
		{% if msg %}
			<div class="alert alert-primary" role="alert">
				{{ msg }}
			</div>
		{% endif %}
			<h1>Login</h1>
			<div id='login_form'>

				<div class="row">
					<div class="col">
						{{ msg }}
						<form action="{{ url_for("login") }}" method="post">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
							<span class="input-group-text">
								Username
							</span>
								</div>

								<label for="username"></label>
								<input type="text"
											 class="form-control" name="username" id="username" placeholder="UserName">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
							<span class="input-group-text">
								Password
							</span>
								</div>
								<label for="password"></label>
								<input type="password"
											 class="form-control" name="password" id="password" onchange="score_password()">
							</div>
							<div class="row">
								<div class="col-lg-auto">
									<input class="" type="checkbox" value="" id="remember">
									<label class="form-check-label" for="remember">
										Remember me
									</label>
								</div>
								<div class="col-lg-auto">
									<button type="submit" class="btn btn-lg btn-primary" id="submission">Submit</button>
								</div>
							</div>
						</form>
					</div>

				</div>
				<br/>
				<div class="row">
					Don't have an account&nbsp;<a href="{{ url_for("register") }}"> Register Now</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}