{% extends "layout.html" %}
{% block title %}
    Review Page
{% endblock %}
{% block style %}
	{#   main>div.row #}
{% endblock %}
{% block head %}
<script type="text/javascript" async defer>
	window.onload=function(){
		document.getElementById('review_body').addEventListener("submit", submit_input);
		update_review_score("{{ reviews.review_score }}");
	}
	function submit_input(event){
		//event.preventDefault();

	}
	function update_review_score(review_score){
		let el=document.getElementById('review_score');
		let value=0
		for (let i = 0; i < el.length; i++) {
        value = el[i].getAttribute('value');
        if(value === review_score){
        	el[i].setAttribute('selected',true);
        	break;
				}
    }
	}
	</script>
{% endblock %}
{% block body %}
	{{ USERNAME }}
	{{ query }}
	<main class="container lg">
	{% if book_info is not none %}
	<div class="row">
		<div class="col text-center">
					<h1>{{ book_info.title }}</h1>
			<div class="row book_info">
				<div class="col-sm">
				</div>
				<ul class="list-group align-middle col-sm">
					<li class="list-group-item">
						Author: {{ book_info.author }}
					</li>
					<li class="list-group-item">
					Published year: {{ book_info.published_year }}
					</li>
					<li class="list-group-item">
					Avg Review: {{ book_info.avg_score }}/5
					</li>
					<li class="list-group-item">
					Total Reviews: {{ book_info.review_count }}
					</li>
					<li class="list-group-item">
						{% if request.referrer is not none %}
							<a href="{{ request.referrer }}">{{ request.referrer }}</a>
						{% else %}
							<a href="{{ url_for("search",search_string=book_info.isbn) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="false">Return to Book Search</a>
						{% endif %}
					</li>
				</ul>
				<div class="col-sm">
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if reviews.username == USERNAME %}
		<div class="col-md card-space">
			<div class="card bg-dark text-white mb">
				 <div class="card-header">{{ USERNAME }}'s Review</div>
				<div class="card-body bg-secondary">
				<form action="{{ url_for("review") }}" id="review_body" method="POST">
					<div class="input-group">
						<div class="row">
							<div class="col">
							Update your review
							</div>
							<div class="col">
								<select name="review_score" id="review_score">
									<option value="0">Rate the book out of 5.</option>
									<option value="1">1 -- It's bad.</option>
									<option value="2">2 -- It's OK.</option>
									<option value="3">3 -- Mediocore</option>
									<option value="4">4 -- Recommend</option>
									<option value="5">5 -- Must Read</option>
								</select>
							</div>
						</div>
					</div>
					<div class="input-group">
						<textarea rows="4" class="form-control" name="review_text">{{ reviews.review_text }}</textarea>
					</div>
					<input type="hidden" name="id" value="{{ reviews.id }}">
					<input class="hidden" type="hidden" name='isbn' value="{{ book_info.isbn }}"/>
						<button>Submit</button>
				</form>
				</div>
			</div>
		</div>
	{% elif reviews is not none %}
		<div class="col-md card-space">
			<div class="card bg-dark text-white mb">
				 <div class="card-header">{{ reviews.username }}'s Review</div>
				<div class="card-body bg-secondary">
					Reviewed on:{{ reviews.reviewed_time }}
					Rating: {{ reviews.rating }}
					<p class="card-text review-text">
						{{ reviews.review_text }}
					</p>
				</div>
			</div>
		</div>

	{% else %}
		<div class="col-md card-space">
			<div class="card bg-dark text-white mb">
				 <div class="card-header">{{ USERNAME }}'s Review</div>
				<div class="card-body bg-secondary">
					<form action="{{ url_for("review") }}" id="review_body" method="POST">
						<div class="input-group">
							<div class="row">
								<div class="col">
								Leave your review
								</div>
								<div class="col">
									<select name="review_score">
										<option value="0">Rate the book out of 5.</option>
										<option value="1">1 -- It's bad.</option>
										<option value="2">2 -- It's OK.</option>
										<option value="3">3 -- Mediocore</option>
										<option value="4">4 -- Recommend</option>
										<option value="5">5 -- Must Read</option>
									</select>
								</div>
							</div>
						</div>
						<div class="input-group">
							<textarea rows="4" class="form-control" name="review_text"></textarea>
						</div>
						<button>Submit</button>
						<input class="hidden" type="hidden" name='isbn' value="{{ book_info.isbn }}"/>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
	</main>
{% endblock %}
