{% extends "layout.html" %}
{% block title %}

{% endblock %}



{% block body %}
	<main role="main" class="container">
	<div class="row">
		<div class="col-8">
			<form action="/search" method="POST" id="search_form">
				<div class="form-row">
					<div class="col-2">
						<label for="search_type">
							Search By:
						</label>
					</div>
					<div class="col-8">
						<input id="search_type" type="text"  class='form-control' name="search_string" placeholder="Title,ISBN,Author,Print Year">
					</div>
					<div class="col">
						<input class="btn btn-dark mb-2" value="Search" type="submit">
					</div>
				</div>
			</form>
		</div>
			{% if request.referrer is not none %}
				<a href="{{ request.referrer }}">{{ request.referrer }}</a>
			{% else %}
				<a href="{{ url_for("search") }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="false">Return to Book Search</a>
			{% endif %}
	</div>

<div class="row" style="margin-top:10px !important">
		{% if books == [] %}
			<div class="col-md-4">
				<div class="card bg-dark text-white mb-4">
					 <div class="card-header">No results</div>
					<div class="card-body bg-secondary">
						<p class="card-text">
							Sorry we didn't find any books.
						</p>
					</div>
				</div>
			</div>
		{% else %}
			{% for a_book in books %}
				<div class="col-md-4">
					<div class="card bg-dark text-white mb-4">
						 <div class="card-header">{{ a_book.title }}</div>
						<div class="card-body bg-secondary">
							<p class="card-text">
								Author: {{ a_book.author }}<br />
								Published Year: {{ a_book.published_year }}<br />
								<a href="{{ url_for("book",isbn=a_book.isbn) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="false">View Book Information</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
</div>
	</main>
{% endblock %}