{% extends "layout.html" %}
{% block title %}
    Books Test
{% endblock %}

{% block body %}
	<main role="main" class="container lg">
<div class="row" style="margin-top:10px !important">
			{% for a_book in books %}
				<div class="col-md-4">
					<div class="card bg-dark text-white mb-4">
						 <div class="card-header">{{ a_book.title }}</div>
						<div class="card-body bg-secondary">
							<p class="card-text">
								Author: {{ a_book.author }}<br />
								Published Year: {{ a_book.published_year }}<br />
								<a href="{{ url_for("book",isbn=a_book.isbn) }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="false">View Book Information</a>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
	</div>
	</main>
{% endblock %}