{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Social Network{% endblock %}</title>
{#		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
		 <link rel="stylesheet" href="{% static 'network/bootstrap.min.css' %}">
		<link href="{% static 'network/styles.css' %}" rel="stylesheet">
		<script type="text/javascript" src="{% static 'network/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'network/script.js' %}" defer></script>
	</head>
	<body>

	<svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" display="none">
		<defs>
			<g id="heart-full">
				<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" fill="red"></path>
			</g>
			<g id="heart-empty">
				<path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989
				6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333
				4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" fill="red"></path>
			</g>
		</defs>
	</svg>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Network</a>

			<div>
			  <ul class="navbar-nav mr-auto">
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
					</li>
				{% endif %}
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
				</li>
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="#">Following</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Log Out</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Log In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">Register</a>
					</li>
				{% endif %}
			  </ul>
			</div>
		  </nav>

		<div class="body container-lg">
			{% block body %}
			{% endblock %}

			{% for post in page_obj %}
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<h4 class="card-title">
								<a href="{% url 'user' post.username %}">
									{{ post.username }}
								</a>
							</h4>
							{% if post.username == user %}
								<a href="{% url 'edit' post.id %}"><span class="text-danager">Edit</span>
								</a>
							{% endif %}
						</div>
						<p class="card-text">{{ post.content }}</p>
						<p class="text-muted">{{ post.datetime }}</p>
						<div class="row">
							<div class="col-1">
							{#	If the user has liked it then we set the class to be liked. Meaning that the heart needs to be filled in.#}
							{% if user in post.likes.all %}
								<a href="#" class="like liked" data-postid="{{ post.id }}" data-liked="1">
							{% else %}
								<a href="#" class="like" data-postid="{{ post.id }}" data-liked="0">
							{% endif %}

							<svg viewBox="0 0 16 16" height="1rem" width="1rem" class="heart-empty"><use xlink:href="#heart-empty"></use></svg>
							<svg viewBox="0 0 16 16" height="1rem" width="1rem" class="heart-full"><use xlink:href="#heart-full"></use></svg>
							</a>
								</div>
							<div class="ml-2">
								<span class="font-weight-bold" id="likes-{{ post.id }}">{{ post.likes.all|length }}</span>
							</div>
						</div>
			{% empty %}
				<div class="d-flex">
					<h2 class="text-muted mx-auto m-4">No posts to show, what do <u>you</u> have to share?
					</h2>
				</div>
			{% endfor %}
				</div>
			</div>
			<div class="pagination justify-content-center m-3">
				<nav aria-label="Page Navigation">
					<ul class="pagination">
						{% if page_obj.has_previous %}
							<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
						{% else %}
							<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						{% endif %}

					{% for page_number in iterator %}
						{% if page_number == page_obj.number %}
						<li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
						{% else %}
							<li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
					{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
					{% endif %}
					</ul>
				</nav>
			</div>
		</div>


	</body>
</html>